.header {
    background-color: rgba(30, 152, 156, 0.918);
    height: 100px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 40px;
    margin-bottom: 0px;
    text-transform: capitalize;

}

.nav_bar {
    height: 50px;
    width: 900px;
    background-color: darkorange;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    display: flex;
    padding: 0px;
    height: 50px;
    align-items: center;
    justify-content: flex-start;
}

nav ul li {
    margin: 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

.body {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    text-align: center;
    color: rgb(25, 179, 179);
    text-transform: capitalize;
}

.sub_heading {
    text-transform: capitalize;
}

.galary {
    height: 300px;
    width: 900px;
    /* border: 1px solid red; */
    display: flex;
}

.galary .left {
    height: 300px;
    width: 299px;
    /* border: 1px solid red; */
}

.galary .left img {
    height: 300px;
    width: 285px;
}

.galary .mid {
    height: 300px;
    width: 299px;
    /* border: 1px solid red; */
}

.galary .mid img {
    height: 300px;
    width: 285px;
}

.galary .right {
    height: 300px;
    width: 299px;
    /* border: 1px solid red; */
    display: flex;
}

.galary .right img {
    height: 300px;
    width: 285px;
}

.sub_heading_2 {
    text-transform: capitalize;
}
.paragrap{
    color: red;
}

.footer {
    background-color: orange;
    text-align: center;
    height: 40px;
    margin-top: 30px;
    padding-top: 20px;
}

.blog {
    color: red;
}

.read_more {
    color: red;
}